$desktop-min-width: 1000px;

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

body {
  margin: 0;
}

.content {
  padding: 30px 35px 155px;
  display: grid;
  column-gap: 30px;
  row-gap: 40px;

  justify-content: center;

  grid-template-columns: repeat(2, 200px);

  @include on-desktop {
    grid-template-columns: repeat(4, 200px);
    padding: 30px 55px 197px;
  }
}

.person {
  width: fit-content;
  transition: transform 1s ease;
  transition-delay: 1s;
  position: relative;
  

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;
   
    &:hover {
      background-color: rgb(228, 228, 228);
    }
  }

  &:hover {
        row-gap: 10px;
    transform: scale(1.17);
    z-index: 4;
      }

      &:hover .image{
        border-radius: 12.5%;
      }
    
$contents: (
  'Boxing, $285M',
  'Football, $111M',
  'Football, $108M',
  'Mixed Artial Arts, $99M',
  'Football, $90M',
  'Basketball, $85.5M',
  'Tennis, $77.2M',
  'Basketball, $76.9M',
  'American Football, $67.3M',
  'American Football, $59.5M',
  
);

@for $i from 1 through 10{

  &--#{$i}:hover::after {
    content: nth($contents, $i);
    display: flex;
    justify-content: center;
    align-items: end;
    color: black;
    width: 220px;
    height: 287px;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: -7%;
    left: -5%;
    z-index: 0;
    font-family: Arial;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    z-index: 2;  
  }
}


}

.people {
  background-color: #fff;
}


.container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  z-index: 1;


}




.image {
  width: 100%;
  border-radius: 50%;
  transition-delay: 1s;

}

.rank {
  display: flex;
  color: #8B0000;
  width: 32px;
  height: 32px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 2;

  top: 40%;
  right: 5%;

}

.name {
  font-family: Arial;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #2F4F4F;
}

.photo{
  z-index: 3;
}

.details {
  text-align: center;
  z-index: 3;
}

.extra {
  font-family: Arial;
  font-size: 18px;
  line-height: 20.7px;
  text-align: center;
  color: #000;
  margin-top: 9px;
  opacity: 0;
  display: none;
}
